<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    
    <title>My Library of America</title>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        "use strict";
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        console.log($SCRIPT_ROOT);
        $(document).ready(function(){
            // initialize checkboxes
            $('input[type=checkbox]').each(function(){
                if ($(this).prop("value") == 1){
                    $(this).prop("checked", true);
                }
            });
            $('input[type=checkbox]').click(function(e){
                var checkName = $(this).prop('name')
                var checkId = $(this).prop('id')
                var checkValue = $(this).prop('checked')
                if ( checkValue == true ){
                    var url = $SCRIPT_ROOT + "/_" + checkName + "/" + checkId;
                } else {
                    var url = $SCRIPT_ROOT + "/_reset/" + checkId;
                }
                $.ajax({
                    url: url,
                    success: function(){location.reload()}
                });
            });
            /*
            $('button[type=submit]').click(function(){
                var query = $('input[name=search]').val();
            });
            */            
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="header__branding" style="top: 21px;">
            <a href="/" title="Home">
                <span class="icon icon__logo--header" style="background-size: 100%;"></span>
            </a>
            <a href="/" title="Home" class="name" style="opacity: 1; display: block;">My Library of America</a>
        </div>
        <!-- nav bar -->
        <div class="top-nav">
            {% block nav %}{% endblock %}
            <div class="search-container">
                <form action="/action_page.php">
                <input type="text" placeholder="Not implemented.." name="search">
                <button type="submit" disabled=true><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- <div class="content-list-count">
                {{ list|count }} items
            </div> -->
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>