{% extends 'base.html' %}

{% block nav %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="/wish">Wish List</a>
<a class="nav-link active" href="/catalog">Catalog</a>
{% endblock %}

{% block content %}
<table class="table table-borderless">
    <tbody>
    {% for book in list %}
    <tr class="content-list-item">
        <td class="content-list-item-id">{{ book['id'] }}</td>
        <td class="content-list-item-title"><a href={{ book['link'] }}>{{ book['title'] }}</a></td>
        <td class="content-list-item-checkbox"><input id={{ book['id'] }} type="checkbox" name="have" value={{ book['have'] }}> have</td>
        <td class="content-list-item-checkbox"><input id={{ book['id'] }} type="checkbox" name="want" value={{ book['want'] }}> want</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}