{% extends "base.html" %}
{% block title %}My Library of America{% endblock %}
{% block content %}
    <div class="message">
        <div><i class="counter">?</i> of {{ catalog_count }} Volumes on Bookshelf</div>
        <div>Last updated: {{ last_update }}</div>
    </div>
    <div class="content">
        <div class="help" style="display:none">
            <div class="help-title">Welcome to your My Library of America!</div>
            <hr>
            <div class="help-content">
                Head over to the <b style="color:red">New</b> page and start adding books to your bookshelf.
                Use the <i class="fa fa-search"> Search</i> tool or scroll through the list to find some titles that
                you own. Click on the <i class="fa fa-star"></i> twice to change the icon to a <i class="fa fa-check"></i> and
                that volume will be added to your bookshelf. <hr>
                The icon indicates the "status" of a title. Multiple clicks will cycle through all of the status indicators.<br> 
                <i class="fa fa-check"></i> means that the book is on your bookshelf.<br>
                <i class="fa fa-heart"></i> means that you Wish that you had that book.<br>
                <i class="fa fa-star"></i> says it is new since the catalog was updated from the Library of America website.<br>
                Finally, the <i class="fa fa-circle-o"></i> removes the item from the <b style="color:red">New</b> list but remains in the catalog<hr>
                You can click on a book title and you will be sent to that volume's detail page on the Library of America website.
            </div>
        </div>
        <ul class="content-list">
            {% for book in data.catalog %}
            <li class="content-listing" data-id={{ book['id'] }} data-status={{ data.library[ book['id'] ] }}>
                <div class="content-listing__control fa fa-circle-o"></div>
                <div class="content-listing__details">
                    <a href={{ book['link'] }}>
                        <i class="content-listing__number">{{ book['id'] }}.</i>
                        <b class="content-listing__title">{{ book['title'] }}</b>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
