{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Library of America{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Volume</th>
            <th scope="col">Title</th>        
            </tr>
        </thead>
        <tbody>
        {% for book in library %}
            {% if book['have'] == 1 %}
            <tr>
                <td>{{ book['id'] }}</td>
                <th scope="row">{{ book['title'] }}</th>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}