{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Library of America{% endblock %}</h1>
{% endblock %}

<script>

</script>

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Volume</th>
            <th scope="col">Title</th>
            <th scope="col">Have</th>
            <th scope="col">Want</th>
            </tr>
        </thead>
        <tbody>
        {% for book in list %}
        <tr>
            <td>{{ book['id'] }}</td>
            <th scope="row">{{ book['title'] }}</th>
            <!-- checkbox check state controlled by value -->
            <td><input class="have" type="checkbox" name="have" value={{ book['have'] }}/></td>
            <td><input class="want" type="checkbox" name="want" value={{ book['want'] }}/></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}