<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}"/>

        <title>My Library of America</title>
    </head>
    <body>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script>
            "use strict";
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            function search(e){
                e.preventDefault();
                var query = $('input[type="search"]').val();
                console.log(query);
                var url = $SCRIPT_ROOT + "/_search/" + query;
                console.log(url);
                debugger;

                $.ajax({
                    url: url,
                    success: function(response){alert(response); $("#table-content").html(response);},
                    error: function(e){alert("error " + e);},
                });
            };
            function remove(id){
                var url = $SCRIPT_ROOT + "/_reset/" + id;
                $.ajax({
                    url: url,
                    success: function(){location.reload()}
                });
            };
        </script>
        <h1 style="text-align: center;">My Library of America</h1>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Bookshelf</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/_wish">Wish List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/_catalog">Catalog</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search()">Search</button>
                            </form>
                        </td>
                        <td class="content-list-count">
                            {{ list|count }} items
                        </td>
                    </tr>
                </table>
            </div>
        </nav>

        <section class="content">
            <script>
                "use strict";
                $(document).ready(function() {
                    var page = window.location.pathname;
                    if (page == "/_catalog"){
                        $('.content-list-item-button').each(function(){$(this).hide();});
                        // process checkboxes
                        $('input[type="checkbox"]').each(function(){
                            if ( $(this).prop("value") == 1){
                                $(this).prop("checked", true);
                            }
                        });
                        $('input[type="checkbox"]').click(function(e){
                            var checkName = $(this).prop('name')
                            var checkId = $(this).prop('id')
                            var checkValue = $(this).prop('checked')
                            if ( checkValue == true ){
                                var url = $SCRIPT_ROOT + "/_" + checkName + "/" + checkId;
                            } else {
                                var url = $SCRIPT_ROOT + "/_reset/" + checkId;
                            }
                            $.ajax({
                                url: url,
                                success: function(){location.reload()}
                            });
                        });
                    }
                    if (page == "/_wish"){
                        // hide checkboxes
                        $('.content-list-item-checkbox').each(function(){$(this).hide();});
                    }                    
                    if (page == "/"){
                        // hide checkboxes and button
                        $('.content-list-item-checkbox').each(function(){$(this).hide();});
                        $('.content-list-item-button').each(function(){$(this).hide();});

                    }
                });
            </script>
            <table id="table-content" class="table table-borderless">
                <tbody>
                {% for book in list %}
                <tr>
                    <td class="content-list-item-id">{{ book['id'] }}</td>
                    <td class="content-list-item-title"><a href={{ book['link'] }}>{{ book['title'] }}</a></td>
                    <td class="content-list-item-checkbox"><input id={{ book['id'] }} type="checkbox" name="have" value={{ book['have'] }}> have</td>
                    <td class="content-list-item-checkbox"><input id={{ book['id'] }} type="checkbox" name="want" value={{ book['want'] }}> want</td>
                    <td class="content-list-item-button"><input id={{ book['id'] }} class="btn btn-danger" type="button" value="Remove" onclick="remove({{ book['id'] }})" ></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
</html>