{% extends 'base.html' %}

{% block nav %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" href="/wish">Wish List</a>
<a class="nav-link" href="/catalog">Catalog</a>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        $('input[type=button]').click(function(){
            var id = $(this).prop('id');
            var url = $SCRIPT_ROOT + "/_reset/" + id;
            $.ajax({
                url: url,
                success: function(){location.reload()},
                error: function(e){alert("error " + e);}
            });
        });
    });
</script>
<table class="table table-borderless">
    <tbody>
    {% for book in list %}
    <tr class="content-list-item">
        <td class="content-list-item-id">{{ book['id'] }}</td>
        <td class="content-list-item-title"><a href={{ book['link'] }}>{{ book['title'] }}</a></td>
        <td style="text-align:right"><input id={{ book['id'] }} class="btn btn-danger" type="button" value="Remove"></td>
   </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
