{% extends 'base.html' %}

{% block nav %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" href="/wish">Wish List</a>
<a class="nav-link" href="/catalog">Catalog</a>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        $('input[type=button]').click(function(){
            var id = $(this).prop('id');
            var url = $SCRIPT_ROOT + "/_reset/" + id;
            $.ajax({
                url: url,
                success: function(){location.reload()},
                error: function(e){alert("error " + e);}
            });
        });
    });
</script>
<ul class="content-list">
    {% for book in list %}
    <li class="content-list-item">
        <div class="content-listing__controls">
            <button id={{ book['id'] }} class="btn-remove">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        <a href={{ book['link'] }}>
            <i class="content-listing__number">{{ book['id'] }}.</i>
            <b class="content-listing__title">{{ book['title'] }}</b>
        </a>

    </li>
    {% endfor %}
</ul>
{% endblock %}
